<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Textiles</title>
</head>
<body>
<div th:switch="${textiles}">
    <h2 th:case="null">No textiles found!</h2>
    <div th:case="*">
        <h2>Textiles</h2>
        <table cellpadding="7" border="1">
            <thead>
            <tr>
                <th>Id</th>
                <th>Material</th>
                <th>Quantity</th>
                <th>Address</th>
                <th>Cash</th>
                <th>Actual</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="textile : ${textiles}">
                <td th:text="${textile.id}"></td>
                <td th:text="${textile.material}"></td>
                <td th:text="${textile.quantity}"></td>
                <td th:text="${textile.address}"></td>
                <td th:text="${textile.cash}"></td>
                <td th:text="${textile.actual}"></td>
                <td><a th:href="@{textile-delete/{id}(id=${textile.id})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <!--    <p><a href="/textiles-create">Create textiles</a></p>-->
</div>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
</body>
</html>